body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('images/hands-square.jpg') no-repeat center top;
  background-size: contain;
  background-position: center top fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
